@model MVC_SkillTree.Models.AccountBook
@{
    ViewBag.Title = "我的記賬本";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <div class="well">
        @using (Html.BeginForm("AddRecord", "Billing", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(m => m.Category, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.EnumDropDownListFor(d => d.Category, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Amount, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", placeholder = "金額" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Date, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Date, new { @class = "form-control", placeholder = "日期" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Remark, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.Remark, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <button type="submit" class="btn btn-default">送出</button>
                </div>
            </div>
        }
    </div>
</div>
@Html.Action("ListBillingRecords", "Billing")
